<style>
    @import url("/src/styles/global.css");

    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 100%;
        background-color: var(--panel-background-color);
    }

    .home {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .avatar {
        display: block;
        border-radius: 50%;
        max-width: 200px;
        margin-top: 2rem;
    }

    .content {
        width: 100%;
    }

    span {
        margin-bottom: 1.5rem;
    }

    .footer {
        margin-top: auto;
    }

    @media (max-width: 768px) {
        .panel {
            width: 100%;
        }
    }

</style>

<script>
    
</script>

<div class="panel">
    <a class="home" href="/">
        <img class="avatar" src="/theme/images/avatar.jpg"/>
    </a>
    <h1></h2>
    <span class="description"></span>
    <div class="content">
        <devi-filters></devi-filters>
    </div>
    <span class="footer"></span>
</div>