<style>
  @import url("/styles/global.css");

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    width: 100%;
  }

  label {
    border-radius: 4px;
    border: 1px solid var(--filter-button-border-color);
    background-color: var(--filter-button-color);
    color: var(--filter-button-text-color);
    cursor: pointer;
    user-select: none;
    padding: 0.5rem;
  }

  details summary {
    font-size: larger;
    cursor: pointer;
  }

  details,
  summary,
  details div {
    width: 100%;
  }

  details div {
    margin: 1rem;
  }
</style>

<script></script>

<div class="panel">
  <details>
    <summary></summary>
    <div></div>
  </details>
</div>
