<style>
  @import url("/src/styles/global.css");

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    width: 100%;
  }

  details summary {
    font-size: larger;
    cursor: pointer;
  }

  details,
  summary,
  details div {
    width: 100%;
  }

  details div {
    margin: 1rem;
  }
</style>

<script></script>

<div class="panel">
  <details open>
    <summary>Years</summary>
    <div>
      <label for="from">From</label>
      <select name="from" id="from">
        <option disabled selected value>year</option>
      </select>

      <label for="to">to</label>
      <select name="to" id="to">
        <option disabled selected value>year</option>
      </select>
    </div>
  </details>
</div>
