html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
}

.main devi-gallery {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
