<style>
  @import url("/styles/global.css");

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #lightbox {
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: center;
  }

  #lightbox::backdrop {
    background-color: #02052baf;
    backdrop-filter: blur(1rem);
  }

  #lightbox {
    outline: none !important;
    border: none !important;
    display: flex;
    align-items: center;
  }

  button,
  input[type="submit"],
  input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  #close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    background-color: none;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
</style>

<script></script>

<div class="content">
  <dialog id="lightbox" closedby="any" onclose="window.lightboxService.closeLightbox()">
    <div id="lightbox-content"></div>
    <button id="close" title="Close">x</button>
  </dialog>
</div>
<output></output>