<style>
  @import url("/styles/global.css");

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #lightbox {
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: center;
  }

  #lightbox::backdrop {
    background-color: #02052baf;
    backdrop-filter: blur(1rem);
  }

  #lightbox {
    outline: none !important;
    border: none !important;
    display: flex;
    align-items: center;
  }

  #previous,
  #next {
    position: fixed;
    top: 45%;
    font-size: x-large;
    scale: 2;
    background-color: none;
    font-weight: bold;
    cursor: pointer;
  }

  button,
  input[type="submit"],
  input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  #previous {
    left: 5%;
  }

  #next {
    right: 5%;
  }

  #close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: x-large;
    scale: 2;
    background-color: none;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  .hidden {
    display: none;
  }

  @media (max-width: 768px) {
    #previous,
    #next {
      top: auto;
      bottom: 5%;
      scale: 3;
    }

    #previous {
      left: 30%;
    }

    #next {
      right: 30%;
    }
  }
</style>

<script></script>

<div class="content">
  <dialog
    id="lightbox"
    closedby="any"
    onclose="window.lightboxService.closeLightbox()"
  >
    <button id="previous" title="Previous"><</button>
    <div id="lightbox-content"></div>
    <button id="next" title="Next">></button>
    <a href="/#" id="close" title="Close">x</button>
  </dialog>
</div>
<output></output>
